<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Convertor</title>
</head>
<body>
    <header>
        <h1>Converta a Moeda💱</h1>
    </header>
    <main>

        <p>Digite o valor e selecione a opção para converter(Dólar, Euro, Libra ou Peso)</p>

        <form method="POST">
            <input type="number" step="0.1" name="valor_real" placeholder="Valor em Real" required>

            <select name="moeda">
                <option value="dolar">Dólar</option>
                <option value="euro">Euro</option>
                <option value="libra">Libra</option>
                <option value="peso">Peso</option>
            </select>

            <button type="submit">Converter</button>
        </form>

        {% if resultado %}
            <div style="margin-top: 20px; font-weight: bold;">
                Resultado em {{ moeda.capitalize() }}: {{ "%.2f"|format(resultado) }}
            </div>
        {% endif %}

    </main>
</body>
</html>